mixin language({className = false})
    .language(class=className)
        ul.language__list
            li.language__item o’zb
            li.language__item.language__item_active РУс
            li.language__item Eng
