mixin sidebar()
    aside.sidebar
        +icon({ className: 	 'sidebar__logo',
                svgName: 	 'mini-logo',
                viewBoxName: '0 0 58 65' })
        .sidebar__title
            +icon({ className: 	 'sidebar__title-icon',
                    svgName: 	 'catalog',
                    viewBoxName: '0 0 24 24' })
            | Каталог товаров
